<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="HRM Application Test Automation Suites" parallel="methods" thread-count="2">	

	<test name="HRM app Test cases">

		<classes>
			<class name="com.hrm.tests.LoginPageTest"></class>
			<class name="com.hrm.tests.HomePageTest"></class>


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->